@charset "UTF-8";

@font-face {
  font-family: "linea-basic-10";
  src:url("fonts/linea-basic-10.eot");
  src:url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-basic-10.woff") format("woff"),
    url("fonts/linea-basic-10.ttf") format("truetype"),
    url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}
.icon-basic-alarm:before {
  content: "b";
}
.icon-basic-anchor:before {
  content: "c";
}
.icon-basic-anticlockwise:before {
  content: "d";
}
.icon-basic-archive:before {
  content: "e";
}
.icon-basic-archive-full:before {
  content: "f";
}
.icon-basic-ban:before {
  content: "g";
}
.icon-basic-battery-charge:before {
  content: "h";
}
.icon-basic-battery-empty:before {
  content: "i";
}
.icon-basic-battery-full:before {
  content: "j";
}
.icon-basic-battery-half:before {
  content: "k";
}
.icon-basic-bolt:before {
  content: "l";
}
.icon-basic-book:before {
  content: "m";
}
.icon-basic-book-pen:before {
  content: "n";
}
.icon-basic-book-pencil:before {
  content: "o";
}
.icon-basic-bookmark:before {
  content: "p";
}
.icon-basic-calculator:before {
  content: "q";
}
.icon-basic-calendar:before {
  content: "r";
}
.icon-basic-cards-diamonds:before {
  content: "s";
}
.icon-basic-cards-hearts:before {
  content: "t";
}
.icon-basic-case:before {
  content: "u";
}
.icon-basic-chronometer:before {
  content: "v";
}
.icon-basic-clessidre:before {
  content: "w";
}
.icon-basic-clock:before {
  content: "x";
}
.icon-basic-clockwise:before {
  content: "y";
}
.icon-basic-cloud:before {
  content: "z";
}
.icon-basic-clubs:before {
  content: "A";
}
.icon-basic-compass:before {
  content: "B";
}
.icon-basic-cup:before {
  content: "C";
}
.icon-basic-diamonds:before {
  content: "D";
}
.icon-basic-display:before {
  content: "E";
}
.icon-basic-download:before {
  content: "F";
}
.icon-basic-exclamation:before {
  content: "G";
}
.icon-basic-eye:before {
  content: "H";
}
.icon-basic-eye-closed:before {
  content: "I";
}
.icon-basic-female:before {
  content: "J";
}
.icon-basic-flag1:before {
  content: "K";
}
.icon-basic-flag2:before {
  content: "L";
}
.icon-basic-floppydisk:before {
  content: "M";
}
.icon-basic-folder:before {
  content: "N";
}
.icon-basic-folder-multiple:before {
  content: "O";
}
.icon-basic-gear:before {
  content: "P";
}
.icon-basic-geolocalize-01:before {
  content: "Q";
}
.icon-basic-geolocalize-05:before {
  content: "R";
}
.icon-basic-globe:before {
  content: "S";
}
.icon-basic-gunsight:before {
  content: "T";
}
.icon-basic-hammer:before {
  content: "U";
}
.icon-basic-headset:before {
  content: "V";
}
.icon-basic-heart:before {
  content: "W";
}
.icon-basic-heart-broken:before {
  content: "X";
}
.icon-basic-helm:before {
  content: "Y";
}
.icon-basic-home:before {
  content: "Z";
}
.icon-basic-info:before {
  content: "0";
}
.icon-basic-ipod:before {
  content: "1";
}
.icon-basic-joypad:before {
  content: "2";
}
.icon-basic-key:before {
  content: "3";
}
.icon-basic-keyboard:before {
  content: "4";
}
.icon-basic-laptop:before {
  content: "5";
}
.icon-basic-life-buoy:before {
  content: "6";
}
.icon-basic-lightbulb:before {
  content: "7";
}
.icon-basic-link:before {
  content: "8";
}
.icon-basic-lock:before {
  content: "9";
}
.icon-basic-lock-open:before {
  content: "!";
}
.icon-basic-magic-mouse:before {
  content: "\"";
}
.icon-basic-magnifier:before {
  content: "#";
}
.icon-basic-magnifier-minus:before {
  content: "$";
}
.icon-basic-magnifier-plus:before {
  content: "%";
}
.icon-basic-mail:before {
  content: "&";
}
.icon-basic-mail-multiple:before {
  content: "'";
}
.icon-basic-mail-open:before {
  content: "(";
}
.icon-basic-mail-open-text:before {
  content: ")";
}
.icon-basic-male:before {
  content: "*";
}
.icon-basic-map:before {
  content: "+";
}
.icon-basic-message:before {
  content: ",";
}
.icon-basic-message-multiple:before {
  content: "-";
}
.icon-basic-message-txt:before {
  content: ".";
}
.icon-basic-mixer2:before {
  content: "/";
}
.icon-basic-mouse:before {
  content: ":";
}
.icon-basic-notebook:before {
  content: ";";
}
.icon-basic-notebook-pen:before {
  content: "<";
}
.icon-basic-notebook-pencil:before {
  content: "=";
}
.icon-basic-paperplane:before {
  content: ">";
}
.icon-basic-pencil-ruler:before {
  content: "?";
}
.icon-basic-pencil-ruler-pen:before {
  content: "@";
}
.icon-basic-photo:before {
  content: "[";
}
.icon-basic-picture:before {
  content: "]";
}
.icon-basic-picture-multiple:before {
  content: "^";
}
.icon-basic-pin1:before {
  content: "_";
}
.icon-basic-pin2:before {
  content: "`";
}
.icon-basic-postcard:before {
  content: "{";
}
.icon-basic-postcard-multiple:before {
  content: "|";
}
.icon-basic-printer:before {
  content: "}";
}
.icon-basic-question:before {
  content: "~";
}
.icon-basic-rss:before {
  content: "\\";
}
.icon-basic-server:before {
  content: "\e000";
}
.icon-basic-server2:before {
  content: "\e001";
}
.icon-basic-server-cloud:before {
  content: "\e002";
}
.icon-basic-server-download:before {
  content: "\e003";
}
.icon-basic-server-upload:before {
  content: "\e004";
}
.icon-basic-settings:before {
  content: "\e005";
}
.icon-basic-share:before {
  content: "\e006";
}
.icon-basic-sheet:before {
  content: "\e007";
}
.icon-basic-sheet-multiple:before {
  content: "\e008";
}
.icon-basic-sheet-pen:before {
  content: "\e009";
}
.icon-basic-sheet-pencil:before {
  content: "\e00a";
}
.icon-basic-sheet-txt:before {
  content: "\e00b";
}
.icon-basic-signs:before {
  content: "\e00c";
}
.icon-basic-smartphone:before {
  content: "\e00d";
}
.icon-basic-spades:before {
  content: "\e00e";
}
.icon-basic-spread:before {
  content: "\e00f";
}
.icon-basic-spread-bookmark:before {
  content: "\e010";
}
.icon-basic-spread-text:before {
  content: "\e011";
}
.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}
.icon-basic-star:before {
  content: "\e013";
}
.icon-basic-tablet:before {
  content: "\e014";
}
.icon-basic-target:before {
  content: "\e015";
}
.icon-basic-todo:before {
  content: "\e016";
}
.icon-basic-todo-pen:before {
  content: "\e017";
}
.icon-basic-todo-pencil:before {
  content: "\e018";
}
.icon-basic-todo-txt:before {
  content: "\e019";
}
.icon-basic-todolist-pen:before {
  content: "\e01a";
}
.icon-basic-todolist-pencil:before {
  content: "\e01b";
}
.icon-basic-trashcan:before {
  content: "\e01c";
}
.icon-basic-trashcan-full:before {
  content: "\e01d";
}
.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}
.icon-basic-trashcan-remove:before {
  content: "\e01f";
}
.icon-basic-upload:before {
  content: "\e020";
}
.icon-basic-usb:before {
  content: "\e021";
}
.icon-basic-video:before {
  content: "\e022";
}
.icon-basic-watch:before {
  content: "\e023";
}
.icon-basic-webpage:before {
  content: "\e024";
}
.icon-basic-webpage-img-txt:before {
  content: "\e025";
}
.icon-basic-webpage-multiple:before {
  content: "\e026";
}
.icon-basic-webpage-txt:before {
  content: "\e027";
}
.icon-basic-world:before {
  content: "\e028";
}

/* MEDIA QUERIES */
/* --Color-- */
/* Golden */
/* Font */
/* --Grid-- */
/* --Border-- */
/* --Animations-- */
/* */
@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
    /* */ }
  80% {
    transform: translateX(2rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  80% {
    transform: translateX(-2rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

/* */
@keyframes moveInButton {
  0% {
    transform: translateY(3rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* Don't touch it. */ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 2.5rem 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #DAA520;
  color: #fff; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    font-size: 5rem;
    display: block;
    font-weight: 300;
    letter-spacing: .3rem;
    animation: moveInLeft 1s ease-out;
    /* */
    /* */
    /* */
    /* */
    /* */ }
    @media (max-width: 75em) {
      .heading-primary--main {
        font-size: 4.5rem;
        letter-spacing: .2rem; } }
    @media (max-width: 56.25em) {
      .heading-primary--main {
        font-size: 3.5rem;
        letter-spacing: .1rem;
        font-weight: 400; } }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 3rem;
        letter-spacing: .05rem;
        font-weight: 700; } }
  .heading-primary--sub {
    font-size: 1.9rem;
    display: block;
    font-weight: 700;
    letter-spacing: .2rem;
    animation: moveInRight 1s ease-out; }
    @media (max-width: 75em) {
      .heading-primary--sub {
        font-size: 1.5rem;
        letter-spacing: .15rem; } }
    @media (max-width: 56.25em) {
      .heading-primary--sub {
        font-size: 1.5rem;
        letter-spacing: .1rem;
        font-weight: 900; } }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 1.5rem;
        letter-spacing: .05rem;
        font-weight: 900; } }

.heading-secondary {
  font-size: 3.2rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #629797, #24335e);
  color: transparent;
  transition: all .4s;
  display: inline-block; }
  .heading-secondary:hover {
    transform: scale(1.04);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-secondary-green {
  padding-left: 2rem;
  font-size: 3.2rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #986a43, #583925);
  color: transparent;
  transition: all .4s;
  display: inline-block; }
  .heading-secondary-green:hover {
    transform: scale(1.04);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-mini {
  margin-bottom: 1rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem; } }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem; } }

.u-margin-top-mini {
  margin-top: 1rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.moves {
  scroll-behavior: smooth; }

/* When we click a button, it can now move slowly */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  opacity: .4; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.small-box {
  display: block;
  height: 13rem;
  width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 37.5em) {
    .small-box {
      width: 30rem;
      height: 20rem; } }
  .small-box > p {
    padding: .8rem;
    color: #d3a859;
    font-size: 1.7rem; }
    .small-box > p > span {
      display: inline-block;
      padding-left: 1rem; }
  .small-box__adres {
    font-weight: 400; }
  .small-box__e-mail {
    font-weight: 400; }
  .small-box__tel {
    font-weight: 700; }

.btn {
  /* --Button-- */
  /* --Button After-- */ }
  .btn:link, .btn:visited {
    text-decoration: none;
    display: inline-block;
    margin-top: 6rem;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    text-transform: uppercase;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 10rem;
    transition: all .4s;
    top: 0;
    left: 0;
    z-index: -1; }
  .btn--animated {
    animation: moveInButton .5s ease-out .75s;
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  color: #5684c5;
  border-bottom: 1px solid #5684c5;
  display: inline-block;
  transition: all .2s;
  font-size: 1.6rem;
  padding: 3px; }

.btn-text:hover {
  background-color: #5684c5;
  color: #fff;
  transform: scale(1.01) translateY(-0.3rem);
  box-shadow: 0.1rem 0.5rem 3rem rgba(0, 0, 0, 0.2); }

.btn-text:active {
  transform: scale(1.005) translateY(-0.2rem);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2); }

.btn-bg:link, .btn-bg:visited {
  text-decoration: none;
  color: #5684c5;
  border-bottom: 2px solid #5684c5;
  display: inline-block;
  transition: all .2s;
  font-size: 1.6rem;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.2); }

.btn-bg:hover {
  background-color: #5684c5;
  color: #fff;
  transform: scale(1.01) translateY(-0.3rem);
  box-shadow: 0.1rem 0.5rem 3rem rgba(0, 0, 0, 0.2); }

.btn-bg:active {
  transform: scale(1.005) translateY(-0.2rem);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2); }

.card {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 52rem;
  /* tablet view */ }
  .card__side {
    height: 52rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all .8s ease;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg);
      text-align: center; }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, rgba(98, 151, 151, 0.85), rgba(36, 51, 94, 0.85)); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    height: 23rem;
    background-blend-mode: screen;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #629797, #24335e), url("../img/nat-6.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-7.jpg"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    color: #fff;
    top: 10rem;
    right: 3rem;
    width: 60%; }
  .card__heading--span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1rem 1.5rem; }
    .card__heading--span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading--span--2 {
      background-image: linear-gradient(to right bottom, rgba(98, 151, 151, 0.85), rgba(36, 51, 94, 0.85)); }
    .card__heading--span--3 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
  .card__details {
    margin: 0 auto; }
    .card__details--content {
      padding: 3rem;
      font-size: 1.7rem;
      font-weight: 300; }
  .card__cta {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__site-box {
    text-align: center;
    padding: 10rem;
    color: #fff; }
  .card__site-content {
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase; }
  .card__button-bottom {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      /* Apply it if user cannot hover with his divice */
      height: auto;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      background-color: #fff; }
      .card__side {
        height: auto;
        position: relative;
        /* We use it for stick together the front and back of the cards */
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        /* .card:hover .card__side--front => When we hover the card, the side transformed */
        transform: rotateY(0);
        /* Show the back of the card. (Change the opposite direction) */ }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 8rem 4rem 0 4rem; }
      .card__site-box {
        text-align: center;
        padding: 10rem 0;
        color: #fff; }
      .card__site-content {
        padding: 5rem 0 0 0;
        font-size: 4rem;
        font-weight: 300; }
      .card__button-bottom {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding-top: 5rem; }
      .card__details--content {
        font-weight: 600; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    position: absolute;
    z-index: 10;
    transition: transform .4s;
    outline-offset: 1rem;
    box-shadow: 0 1.5 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        /* For the order them */
        position: relative;
        /* We have to change it too. */
        /* All of them have the same width */
        width: 50%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
        /* Reduce the box shadow */ } }
    .composition__photo--p2 {
      top: 0;
      right: -1rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: 1rem;
          left: 0;
          width: 100%; } }
      @media (max-width: 37.5em) {
        .composition__photo--p2 {
          width: 100%; } }
    .composition__photo--p3 {
      top: -4rem;
      left: 2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: -1rem;
          left: 0;
          width: 100%; } }
      @media (max-width: 37.5em) {
        .composition__photo--p3 {
          display: none; } }
    .composition__photo:hover {
      z-index: 20;
      box-shadow: 0 2.5 4rem rgba(0, 0, 0, 0.5);
      transform: scale(1.05) translateY(-0.5rem);
      outline: 1rem solid #5684c5; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  text-align: center;
  padding: 2rem;
  transition: transform .3s;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  height: 30rem; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right bottom, rgba(98, 151, 151, 0.8), rgba(36, 51, 94, 0.8));
    display: inline-block; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin: 0; } }
  .feature-box:hover {
    transform: translateY(-2rem) scale(1.05);
    box-shadow: 0.5rem 0.5rem 2rem rgba(255, 255, 255, 0.1); }

.story {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6rem;
  padding-left: 9rem;
  margin: 0 auto;
  transform: skewX(-12deg);
  font-size: 1.6rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px; }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    float: left;
    transform: skewX(12deg) translateX(-4rem);
    position: relative;
    overflow: hidden; }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: skewX(0) translateX(-4rem);
        width: 10rem;
        height: 10rem;
        -webkit-shape-outside: circle(50% at 40% 50%);
        shape-outside: circle(50% at 40% 50%); } }
  .story__img {
    height: 100%;
    transform: scale(1.4) translateX(-3rem);
    transition: all .5s;
    backface-visibility: hidden; }
    .story__img-p2 {
      transform: scale(1.4) translateX(0); }
  .story__text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    opacity: 0;
    transition: all .5s;
    font-size: 1.7rem;
    backface-visibility: hidden;
    text-align: center; }
  .story:hover .story__img {
    transform: scale(1) translateX(-4rem);
    filter: blur(3px) brightness(80%); }
    .story:hover .story__img-p2 {
      transform: scale(1) translateX(0); }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }

.contact__area {
  z-index: 1100;
  position: fixed;
  top: 6rem;
  right: 12rem;
  display: inline-block; }
  @media (max-width: 56.25em) {
    .contact__area {
      top: 3rem;
      right: 8rem; } }
  .contact__area-circle {
    background-color: #fff;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    position: absolute;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    z-index: 1000; }
    .contact__area-circle .wp-icon {
      position: absolute;
      top: .8rem;
      right: .9rem;
      z-index: 1005; }
    .contact__area-circle .wp-img {
      height: 4rem;
      width: 4rem; }
  .contact__area-rectengular {
    background-color: #fff;
    border-radius: 3px;
    height: 3rem;
    width: 18rem;
    position: absolute;
    top: 1.5rem;
    right: -1rem;
    display: inline-block;
    text-align: center;
    z-index: 998;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
    .contact__area-rectengular .tel-number {
      padding-top: .3rem;
      display: block; }
      .contact__area-rectengular .tel-number .wp-numb-text:link, .contact__area-rectengular .tel-number .wp-numb-text:visited {
        text-decoration: none;
        color: #777;
        font-size: 1.7rem;
        font-weight: 700; }
      .contact__area-rectengular .tel-number .wp-numb-text:hover, .contact__area-rectengular .tel-number .wp-numb-text:active {
        text-decoration: none;
        color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right, #629797, #24335e); }
  .contact__area-rectengular-info {
    background-color: #fff;
    border-radius: 3px;
    height: 3rem;
    width: 18rem;
    position: absolute;
    top: 1.5rem;
    right: -1rem;
    display: inline-block;
    text-align: center;
    z-index: 993;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    transition: all .4s; }
    .contact__area-rectengular-info .tel-info {
      padding-top: .6rem;
      display: block;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 700;
      opacity: 0; }
  .contact__area:hover {
    cursor: pointer; }
  .contact__area:hover > .contact__area-rectengular-info {
    width: 18rem;
    top: 4.5rem;
    z-index: 999; }
    .contact__area:hover > .contact__area-rectengular-info .tel-info {
      opacity: 1; }
      .contact__area:hover > .contact__area-rectengular-info .tel-info .wp-numb-info:link, .contact__area:hover > .contact__area-rectengular-info .tel-info .wp-numb-info:visited {
        text-decoration: none;
        color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right, #7ed56f, #28b485); }
      .contact__area:hover > .contact__area-rectengular-info .tel-info .wp-numb-info:hover, .contact__area:hover > .contact__area-rectengular-info .tel-info .wp-numb-info:active {
        text-decoration: none;
        color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right, #7ed56f, #28b485); }
  .contact__area:hover > .contact__area-rectengular .wp-numb-text {
    text-decoration: none;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #629797, #24335e); }

.footer {
  background-color: #333;
  color: #f7f7f7;
  font-size: 1.4rem;
  padding: 10rem 0; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem;
    transition: all .2s;
    display: block; }
    .footer__logo-box:hover {
      transform: scale(1.03); }
      @media (max-width: 56.25em) {
        .footer__logo-box:hover {
          transform: scale(1.001); } }
    .footer__logo-box--name {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1.5rem; }
    .footer__logo-box--working-hours {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1.5rem; }
  .footer__logo {
    width: 10rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    display: inline-block;
    padding-top: 2rem; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #999;
    transition: all .2s;
    text-transform: uppercase;
    background-color: #333;
    display: inline-block; }
  .footer__link:hover, .footer__link:active {
    transform: scale(1.1);
    color: #7ed56f;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .footer__copyright {
    border-top: 1px solid #777;
    width: 80%;
    padding-top: 2rem;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.row {
  max-width: 114rem;
  margin: 0 auto;
  /* Main clearfix */
  /* COLONS */ }
  .row:not(:last-child) {
    /* Except Last child */
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    /*[]: is called an attribute, it says now this: take class attribute which start with (^) "col-" choose all of them. (If we write [class*="col-"] it means select who contain (*) "col-", but we don't want it.) (If we write [class$="col-"] it means select who end with ($) "col-", but we don't want it.) */
    float: left;
    /* Because we use the float system, we need to specify like this */ }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/ 2);
    /* Simply calulation with different type of units, when we use variables we need to use them variable like that */ }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem)/ 3);
    /* Simply calulation with different type of units, when we use variables we need to use them variable like that */ }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
    /* Simply calulation with different type of units, when we use variables we need to use them variable like that */ }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem)/ 4);
    /* Simply calulation with different type of units, when we use variables we need to use them variable like that */ }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem)/ 4) +  6rem);
    /* Simply calulation with different type of units, when we use variables we need to use them variable like that */ }

/* ------------------ */
/* --Header Content-- */
/* ------------------ */
.header {
  background-image: linear-gradient(to right bottom, rgba(126, 138, 151, 0.8), rgba(48, 71, 94, 0.8)), url(../img/Ahmet/hand-shake.jpg);
  height: 95vh;
  background-position: top;
  background-size: cover;
  position: relative;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);
  /* x y, x y | top left, bottom left, bottom right, top right */
  /* --Logo-- */
  /* --Main Text-- */ }
  .header__logo {
    height: 4.5rem; }
    .header__logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem; }
  .header__text-box {
    position: absolute;
    /**/
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  margin-top: -10rem;
  padding-top: 15rem;
  padding-bottom: 40rem;
  background-color: #f7f7f7; }
  @media (max-width: 56.25em) {
    .section-about {
      padding-top: 10rem; } }
  @media (max-width: 37.5em) {
    .section-about {
      padding-bottom: 20rem; } }

.section-features {
  margin-top: -10rem;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(98, 151, 151, 0.8), rgba(36, 51, 94, 0.8)), url(../img/Ahmet/agree.jpg);
  background-size: cover;
  transform: skewY(-5deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }
  .section-features > * {
    transform: skewY(5deg); }
  .section-features p > span {
    display: block; }
    .section-features p > span:not(:last-child) {
      margin-bottom: .5rem; }

.section-tours {
  margin-top: -10rem;
  padding-top: 15rem;
  padding-bottom: 20rem;
  background-color: #f7f7f7; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 15rem 0 10rem 0; } }

.section-stories {
  padding: 15rem 0;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-book {
  position: relative;
  padding: 9rem 6rem; }
  @media (max-width: 56.25em) {
    .section-book {
      padding: 6rem; } }
  @media (max-width: 37.5em) {
    .section-book {
      padding: 3rem .2rem; } }

.location {
  border-radius: 3px;
  position: relative;
  background-image: linear-gradient(105deg, rgba(214, 214, 214, 0.8) 0%, rgba(214, 214, 214, 0.8) 49.9%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  padding-left: 3rem; }
  @media (max-width: 75em) {
    .location {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/nat-10.jpg);
      /* The bg-img */
      background-size: cover;
      /* We can use percenteges instead of cover(100%) */ } }
  @media (max-width: 56.25em) {
    .location {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nat-10.jpg);
      /* The bg-img */
      background-size: cover;
      /* We can use percenteges instead of cover(100%) */
      padding: 0 .1rem 1rem 2rem; } }
  @media (max-width: 37.5em) {
    .location {
      padding: 0 .1rem 1rem 1.8rem;
      margin: 0 auto; } }

.bg-img-book {
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: rotateY(0);
  background-image: linear-gradient(to bottom, rgba(99, 99, 99, 0.6), rgba(31, 31, 31, 0.6)), url(../img/nat-10.jpg); }
  @media (max-width: 37.5em) {
    .bg-img-book {
      background-size: cover; } }

.book__group-map {
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  width: 40rem;
  height: 35rem; }
  @media (max-width: 37.5em) {
    .book__group-map {
      width: 30rem;
      height: 30rem; } }
